.example-large-box {
  padding: 1rem;
  margin-right: 20%;
  margin-left: 10%;
  height: 25rem;
  background: linear-gradient(90deg, #eeaeca 36%, #94c0e9 36%);
  border-radius: 15px;
}
.mat-card-subtitle {
  display: block;
  margin-bottom: 0px;
}
.about-card {
  padding: 1rem;
  margin-top: -20rem;
  margin-right: 10%;
  margin-left: 15%;
  border-radius: 15px;
  margin-bottom: 1rem;
}
.about-paragraph {
  padding: 0rem 0.5rem 2rem 0.5rem;
  line-height: 1.5rem;
  font-size: 1rem;
}

.about-title {
  font-family: cursive;
  letter-spacing: 1px;
  line-height: normal;
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
}
.cs-about-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: #00416a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e4e5e6,
    #00416a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e4e5e6,
    #00416a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
