.aws-header-image {
    background-image: url('https://media-exp1.licdn.com/dms/image/C4D0BAQGzuSBRRRuphw/company-logo_100_100/0?e=1606348800&v=beta&t=rpWlFUkYYQhzYCpHLek-N0rDYS8rTFLEkd4NJ4Y4x1s');
    background-size: cover;
  }
  .comptia-header-image{
    background-image: url('https://media-exp1.licdn.com/dms/image/C560BAQERAz2JBkUHzw/company-logo_100_100/0?e=1606348800&v=beta&t=tPlaEE9fxaYSqimX7HNReR9wRzAX98maANzkH_n00jo');
    background-size: cover;
  }
  
  .udemy-header-image{
    background-image: url('https://media-exp1.licdn.com/dms/image/C560BAQH0VNXBrdkklA/company-logo_100_100/0?e=1606348800&v=beta&t=49RhGZRxHDkRo3OkijZbZcisKJ9MWcR6lX8pAwH2h0o');
    background-size: cover;
  }
  
  .hackerrank-header-image{
    background-image: url('https://media-exp1.licdn.com/dms/image/C560BAQHli6etYJTCrA/company-logo_100_100/0?e=1606348800&v=beta&t=ExDI961K-gQsEXZhWSL2qAaBJHiQCTUd8GSafRbUJIU');
    background-size: cover;
  }
  .udacity-header-image{
    background-image: url('https://media-exp1.licdn.com/dms/image/C560BAQGSBVNHbqKIdA/company-logo_100_100/0?e=1606348800&v=beta&t=pkSDwNg9-t0x76TtdsNdWoVMeugN69gkPMwxDb5QyOs');
    background-size: cover;
  }
  .coursera-header-image{
    background-image: url('https://media-exp1.licdn.com/dms/image/C4E0BAQGt72dvhq4yRA/company-logo_100_100/0?e=1606348800&v=beta&t=jTS6RyqIFzsmWlgoweNnjW7t9p5RiJ0mDCsWULx0TYg');
    background-size: cover;
  }
  .sololearn-header-image{
    background-image: url('https://media-exp1.licdn.com/dms/image/C4E0BAQHXcZlXhNCAJg/company-logo_100_100/0?e=1606348800&v=beta&t=Vjd5t3vrQkeQpsUkdmGq9msyVbyhdS1tXBJLtBilEKU');
    background-size: cover;
  }
.eduonix-header-image
{
    background-image: url('https://media-exp1.licdn.com/dms/image/C510BAQFkPgJZqd7XKw/company-logo_100_100/0?e=1606348800&v=beta&t=lelImTapwxhrhP3FoqVj9ykH-mZQy_tNsDPkOD9L7yA');
    background-size: cover;
}
.seeMoreLink{
    text-decoration:underline;
    cursor: pointer;
    font-style: italic;
}
  .cm-cert-section{

      padding: 2%;
  }
  .cm-cert-main-div{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1rem;
    padding-bottom: rem;
    word-break: break-word;

  }
  .cert-title{
    font-family: cursive;
    letter-spacing: 2px;
    line-height: normal;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    // margin-top: 40px;
    // padding-top: 20px;

  }
  .mat-card-header .mat-card-title{
    font-size: 1rem !important;
    font-style: normal;
  }
