<section class="cm-cert-section">
  <div class="cm-cert-main-div">
    <h1 class="cert-title">{{ title }}</h1>

    <mat-card class="example-card">
      <ng-container *ngFor="let cert of certifications; index as i">
        <mat-divider *ngIf="i > 0" [inset]="true"></mat-divider>
        <br />
        <mat-card-header>
          <div mat-card-avatar class="{{ cert.class }}"></div>
          <mat-card-title>{{ cert.title }}</mat-card-title>
          <mat-card-subtitle
            >{{ cert.issuedby }}, {{ cert.date }}, Credential ID:
            {{ cert?.credentials }}
            <p>
              <a *ngIf="cert?.url" href="{{ cert.url }}" target="_blank"
                >See credential</a
              >
            </p>
          </mat-card-subtitle>
        </mat-card-header>
      </ng-container>

      <ng-container *ngIf="isCollapsed == true">
        <ng-container *ngFor="let cert of showMoreCertifications">
          <mat-divider [inset]="true"></mat-divider>
          <br />
          <mat-card-header>
            <div mat-card-avatar class="{{ cert.class }}"></div>
            <mat-card-title>{{ cert.title }}</mat-card-title>
            <mat-card-subtitle
              >{{ cert.issuedby }}, {{ cert.date }}, Credential ID:
              {{ cert?.credentials }}
              <p>
                <a *ngIf="cert?.url" href="{{ cert.url }}" target="_blank"
                  >See credential</a
                >
              </p>
            </mat-card-subtitle>
          </mat-card-header>
        </ng-container>
      </ng-container>
      <div class="seeMoreDiv">
        <a class="seeMoreLink" (click)="toggleViewMore()"
          >{{ certToggleText }}
        </a>
      </div>
    </mat-card>
  </div>
</section>
