<section class="cm-cert-section">
  <div class="cm-cert-main-div">
    <h1 class="cert-title">Certifications</h1>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="comptia-header-image"></div>
        <mat-card-title
          >Google Cloud Platform Essential Training</mat-card-title
        >
        <mat-card-subtitle
          >CompTIA, Issued on November 2019, Credential
          ID:AcZdHpPbzwgWvNFnn0buBN2yCEXG
          <p>
            <a
              href="http://www.linkedin.com/learning/google-cloud-platform-essential-training-3?trk=flagship-lil_details_certification"
              target="_blank"
              >See credential</a
            >
          </p>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-divider [inset]="true"></mat-divider>
      <br />
      <mat-card-header>
        <div mat-card-avatar class="aws-header-image"></div>
        <mat-card-title>Introduction to Amazon API Gateway</mat-card-title>
        <mat-card-subtitle
          >Amazon Web Services (AWS), Issued on September 2019, Credential
          ID:S6bcLuyvAEaj2zWdKXkHTQ2
          <p>
            <a
              href="https://www.aws.training/Transcript/CompletionCertificateHtml?transcriptid=S6bcLuyvAEaj2zWdKXkHTQ2"
              target="_blank"
              >See credential</a
            >
          </p>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-divider [inset]="true"></mat-divider>
      <br />
      <mat-card-header>
        <div mat-card-avatar class="aws-header-image"></div>
        <mat-card-title>Introduction to Amazon ElastiCache</mat-card-title>
        <mat-card-subtitle
          >Amazon Web Services (AWS), Issued on September 2019, Credential ID:
          y4CRFEispUS_2v3E8LXblw2
          <p>
            <a
              href="https://www.aws.training/Transcript/CompletionCertificateHtml?transcriptid=y4CRFEispUS_2v3E8LXblw2"
              target="_blank"
              >See credential</a
            >
          </p>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-divider [inset]="true"></mat-divider>
      <br />
      <mat-card-header>
        <div mat-card-avatar class="udemy-header-image"></div>
        <mat-card-title
          >Web Design for Web Developers: Build Beautiful
          Websites!</mat-card-title
        >
        <mat-card-subtitle
          >Udemy, Issued on September 2019, Credential ID: UC-W28IW9HK
          <p>
            <a
              href="https://www.udemy.com/certificate/UC-W28IW9HK/?utm_campaign=email&utm_source=sendgrid.com&utm_medium=email"
              target="_blank"
              >See credential
            </a>
          </p>
        </mat-card-subtitle>
      </mat-card-header>

      <ng-container *ngIf="isCollapsed == true">
        <mat-divider [inset]="true"></mat-divider>
        <br />
        <mat-card-header>
          <div mat-card-avatar class="udemy-header-image"></div>
          <mat-card-title>MEAN stack</mat-card-title>
          <mat-card-subtitle
            >Udemy, Issued on August 2019, Credential ID: UC-U0Q0G9DN
            <p>
              <a
                href="https://www.udemy.com/certificate/UC-U0Q0G9DN/"
                target="_blank"
                >See credential</a
              >
            </p>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-divider [inset]="true"></mat-divider>
        <br />
        <mat-card-header>
          <div mat-card-avatar class="hackerrank-header-image"></div>
          <mat-card-title>Gold Badge SQL</mat-card-title>
          <mat-card-subtitle
            >HackerRank, Issued on August 2019
            <p>
              <a
                href="https://www.hackerrank.com/mchandrasekharr1"
                target="_blank"
                >See credential</a
              >
            </p>
          </mat-card-subtitle>
        </mat-card-header>

        <mat-divider [inset]="true"></mat-divider>
        <br />
        <mat-card-header>
          <div mat-card-avatar class="udacity-header-image"></div>
          <mat-card-title>Data Engineering Nanodegree</mat-card-title>
          <mat-card-subtitle
            >Udacity, Issued on April 2019, Credential ID: E9AU43CU
            <p>
              <a href="https://confirm.udacity.com/E9AU43CU" target="_blank"
                >See credential</a
              >
            </p>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-divider [inset]="true"></mat-divider>
        <br />
        <mat-card-header>
          <div mat-card-avatar class="coursera-header-image"></div>
          <mat-card-title
            >Introduction to Data Science in Python
          </mat-card-title>
          <mat-card-subtitle
            >Coursera, By University of Michigan(Grade Achieved: 90.0%), Issued
            on March 2017
          </mat-card-subtitle>
        </mat-card-header>
        <mat-divider [inset]="true"></mat-divider>
        <br />
        <mat-card-header>
          <div mat-card-avatar class="coursera-header-image"></div>
          <mat-card-title>Python Data Structures </mat-card-title>
          <mat-card-subtitle
            >Coursera, By University of Michigan(Grade Achieved: 100.0%), Issued
            on January 2017
          </mat-card-subtitle>
        </mat-card-header>
        <mat-divider [inset]="true"></mat-divider>
        <br />
        <mat-card-header>
          <div mat-card-avatar class="coursera-header-image"></div>
          <mat-card-title>Using Python to Access Web Data </mat-card-title>
          <mat-card-subtitle
            >Coursera, By University of Michigan(Grade Achieved: 98.4%) , Issued
            on November 2016
          </mat-card-subtitle>
        </mat-card-header>
        <mat-divider [inset]="true"></mat-divider>
        <br />
        <mat-card-header>
          <div mat-card-avatar class="coursera-header-image"></div>
          <mat-card-title>Using Databases with Python</mat-card-title>
          <mat-card-subtitle
            >Coursera, By University of Michigan(Grade Achieved: 98.9%), Issued
            on December 2016
          </mat-card-subtitle>
        </mat-card-header>
        <mat-divider [inset]="true"></mat-divider>
        <br />
        <mat-card-header>
          <div mat-card-avatar class="sololearn-header-image"></div>
          <mat-card-title
            >Certificate of Completion: Python Course</mat-card-title
          >
          <mat-card-subtitle
            >SoloLearn, Issued on November 2016, Credential ID: 1073-2777149
            <p>
              <a
                href="http://www.sololearn.com/Profile/2777149/"
                target="_blank"
                >See credential</a
              >
            </p>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-divider [inset]="true"></mat-divider>
        <br />
        <mat-card-header>
          <div mat-card-avatar class="eduonix-header-image"></div>
          <mat-card-title>HTML5 Animated Image Gallery</mat-card-title>
          <mat-card-subtitle
            >Eduonix Learning Solutions Pvt Ltd, Issued on May 2016, Credential
            ID: d163249f2d
            <p>
              <a
                href="https://www.eduonix.com/certificate/d163249f2d"
                target="_blank"
                >See credential</a
              >
            </p>
          </mat-card-subtitle>
        </mat-card-header>
      </ng-container>
      <div class="seeMoreDiv">
        <a class="seeMoreLink" (click)="toggleViewMore()"
          >{{ certToggleText }}
        </a>
      </div>
    </mat-card>
  </div>
</section>
