mat-form-field{
    width: 100%;
}
.contact-form-section{
    margin-top: 100px;
     background-image: url("../../assets/contact-bg-image.svg");
    background-repeat: no-repeat;
    // background-color: #f1f1f1;
    padding: 2%;
    // margin: 24px 0px;
}
.mat-card-form{
    padding: 2%;
width: 60%;
margin: auto;

}
.contact-title{
    font-family: cursive;
    letter-spacing: 2px;
    line-height: normal;
    font-size: xxx-large;
    font-weight: 500;
  }
  .contact-help-text{
    font-family: cursive;
    text-align: center;
  }