/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: #e8e8e8 !important;
  margin: 0;
  font-family: 'Times New Roman', Times, serif !important;
}
// *:not(.fa) { font-family: 'Times New Roman', Times, serif !important }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
