<div id="sidebar">
  <div class="icon-bar">
    <div ngClass="{{ shouldShow ? 'show' : 'hide' }}">
      <a
        [attr.href]="
          shouldShow
            ? 'https://www.facebook.com/people/Chandu-Muthyala/100002292512909'
            : null
        "
        target="_blank"
        class="facebook social-item-4"
        ><i class="fa fa-facebook"></i
      ></a>
      <a
        [attr.href]="shouldShow ? 'https://twitter.com/chandumuthyala1' : null"
        class="twitter social-item-3"
        target="_blank"
        ><i class="fa fa-twitter"></i
      ></a>
      <a
        [attr.href]="
          shouldShow ? 'https://www.instagram.com/chandu_muthyala/?hl=en' : null
        "
        target="_blank"
        class="instagran social-item-2"
        ><i class="fa fa-instagram"></i
      ></a>
      <a
        [attr.href]="
          shouldShow ? 'https://www.linkedin.com/in/cmuth001/' : null
        "
        target="_blank"
        class="linkedin social-item-1"
        ><i class="fa fa-linkedin"></i
      ></a>
    </div>
    <ng-container>
      <a *ngIf="shouldShow">
        <span
          class="material-icons social-media-display-icon"
          (click)="shouldShow = !shouldShow"
        >
          {{ shouldShow ? 'arrow_left' : 'arrow_right' }}
        </span>
      </a>
      <span
        *ngIf="!shouldShow"
        class="material-icons social-media-display-icon"
        (click)="shouldShow = !shouldShow"
      >
        {{ shouldShow ? 'arrow_left' : 'arrow_right' }}
      </span>
    </ng-container>
  </div>
</div>
