<section class="cm-thanks-section">
  <div>
    <h1 class="thanks-title">Acknowledgement</h1>
    <mat-card class="example-card">
      <mat-card-content>
        <p class="p-content">Thanks are due to the following:</p>
        <ul class="p-content">
          <li>
            To <i>Michael Bauer(Mike) </i>, your continuous support,
            encouragement and guidance have helped me to finish up this
            portfolio -Lead Software Engineer at Highmark Health
          </li>
          <li>
            To <i>Jeff Burja</i>, for helping me to deploy on to cloud -Lead
            Software Engineer at Highmark Health
          </li>
          <li>
            To <i>Rohit Kandimalla</i>, for constant feedback on the UI design
            -Software Engineer at SemanticBits
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</section>
