.example-large-box {
    padding: 16px; 
    margin-top: 40px;
    margin-right: 20%;
    margin-left: 10%;
    height: 250px;
    background: linear-gradient(90deg, #eeaeca 36%, #94c0e9 36%);
    border-radius: 15px;
  }
  .mat-card-subtitle {
    display: block;
    margin-bottom: 0px;
  }
  .about-card{
    padding: 5%;
      margin-top: -150px;
      margin-right: 10%;
      margin-left: 15%;
      font-size: 1.2rem;
      border-radius: 15px;
      margin-bottom: 20px;
  }
  .about-paragraph{
    font-size: 20px;
      font-family: fantasy;
      letter-spacing: 2px;
      line-height: normal;
  }

  .about-title{
    font-family: cursive;
    letter-spacing: 2px;
    line-height: normal;
    font-size: xxx-large;
    font-weight: 500;
  }