

<!--  -->



<ngbd-carousel-basic></ngbd-carousel-basic>

<div class=" example-large-box "></div>
<mat-card class="about-card">
    <h1 class = "about-title">About</h1>
    <p class="about-paragraph">
        Results-driven senior software engineer with 5 years of experience in development and a year of Experience in
        leading a team of 6
        developers to deliver incremental value on multiple projects via an Agile Development Methodology. I prioritize
        and apply targeted
        effort to the work that matters most and meet deadlines.

    </p>
</mat-card>