.example-card {
    // max-width: 400px;
    display: inline-block;
    // padding: 2rem 2rem;
    box-shadow: none;
  }
  .cm-education-section{
    
    // background: -webkit-gradient(linear, left top, right top, from(#effaff), to(#d9e7ff));
    padding: 2%;
    // margin-top: 100px;
    
  }
  .cm-education-main-div{
    margin-left: 10%;
    // margin-right: 10%;
    margin-bottom: 1rem;
    padding-bottom: 1rem;

  }
  .example-header-image {
    background-image: url('../../assets/odu-education-logo.png');
    background-size: contain;
    width: 5rem;
    height: 5rem;
  }
  
  .amrita-header-image{
    background-image: url('../../assets/amrita-education-logo.png');
  }
  .odu-header-image{
    background-image: url('../../assets/odu-education-logo.png');
  }
  .education-title{
    font-family: cursive;
    letter-spacing: 1px;
    line-height: normal;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    // margin-top: 40px;
    // padding-top: 20px;
  }
   .mat-card-title{
      font-size: 1rem !important;
    }
  
  // mat-card-actions{
  //     // float: right;
  // }
  example-card {
    padding: 0;
    
  }
  