<section class="contact-form-section">
  <h1 class="contact-title">{{ title }}</h1>
  <mat-card class="mat-card-form">
    <form [formGroup]="myForm">
      <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Enter your Name</mat-label>
          <input
            matInput
            placeholder="Robert Downey"
            formControlName="name"
            required
          />
          <mat-error *ngIf="myForm.controls.name.invalid">* Required</mat-error>
        </mat-form-field>
      </div>
      <br />
      <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input
            matInput
            placeholder="pat@example.com"
            formControlName="email"
            required
          />

          <mat-error *ngIf="myForm.controls.email.invalid">{{
            getErrorMessage()
          }}</mat-error>
        </mat-form-field>
      </div>
      <mat-form-field class="example-full-width">
        <mat-label>Leave a comment</mat-label>
        <textarea
          cdkTextareaAutosize
          cdkAutosizeMinRows="5"
          matInput
          placeholder="Leave a message what you feel about this website or if you need help in Angular 2+."
          formControlName="message"
        ></textarea>
        <mat-error *ngIf="myForm.controls.message.errors?.required"
          >* Required</mat-error
        >
        <mat-error *ngIf="myForm.controls.message.errors?.minlength"
          >* Please enter min of 15 characters</mat-error
        >
      </mat-form-field>
      <div class="example-button-row">
        <button
          mat-button
          color="primary"
          [disabled]="!myForm.valid"
          (click)="onSubmit(myForm)"
        >
          SUBMIT
        </button>
      </div>
      <div class="contact-help-text"></div>
    </form>
  </mat-card>
</section>
<section></section>
