
.footer-section-main{
    padding: 34px 0px;
    width: 100%;
    background-color: #a5d6ed;

    text-align: center;
}
   .footer-section{
    left: 0;
    bottom: 0;
    font-size: x-large;
    color: black;
    font-family: cursive;
    letter-spacing: 2px;
   }
