<section>
  <mat-sidenav-container>
    <mat-card class="example-card top-header-bacground-image">
      <mat-card-header>
        <img
          mat-card-avatar
          class="example-header-image"
          src="assets/dp-1.jpg"
        />
        <mat-card-title>Chandrasekhar Muthyala</mat-card-title>
        <mat-card-subtitle class="position"
          >Full Stack Developer 👨‍🚀
        </mat-card-subtitle>
      </mat-card-header>
      <span class="example-spacer"></span>
      <div class="theme-switch-div">
        <!-- <span>Dark Theme {{ darkThemeStatus }}</span> -->
        <button
          class="theme-switch-btn"
          (click)="toggleTheme($event)"
          mat-button
        >
          <mat-icon mat-list-icon>wb_sunny</mat-icon>
          <mat-slide-toggle
            class="theme-switch"
            [checked]="useDefaultTheme"
          ></mat-slide-toggle>
          <mat-icon mat-list-icon>brightness_3</mat-icon>
        </button>
      </div>
      <br />
    </mat-card>

    <mat-tab-group class="color-blue">
      <mat-tab class="mat-tab-padding">
        <ng-template mat-tab-label>
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >home</mat-icon
          >
          Home
        </ng-template>
        <cmuthyala-about></cmuthyala-about>
        <cmuthyala-education></cmuthyala-education>
        <cmuthyala-experience></cmuthyala-experience>
        <cmuthyala-certifications></cmuthyala-certifications>
        <cmuthyala-testimonies></cmuthyala-testimonies>
        <cmuthyala-contact-form></cmuthyala-contact-form>
        <cmuthyala-social-media></cmuthyala-social-media>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon aria-hidden="false" aria-label="local_library"
            >local_library</mat-icon
          >
          Education
        </ng-template>
        <cmuthyala-education></cmuthyala-education>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >work</mat-icon
          >
          Experience
        </ng-template>

        <cmuthyala-experience></cmuthyala-experience>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >folder_special</mat-icon
          >
          Projects
        </ng-template>
        <cmuthyala-projects></cmuthyala-projects>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >grade</mat-icon
          >
          Certifications
        </ng-template>
        <cmuthyala-certifications></cmuthyala-certifications>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >format_quote</mat-icon
          >
          Testimonials
        </ng-template>

        <cmuthyala-testimonies></cmuthyala-testimonies>
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav-container>
</section>
