.top-header-bacground-image {
  box-shadow: none;
  border-radius: 0px;
  background-image: linear-gradient(
    to left,
    #dff7bd,
    #40f2ec,
    #add2ed,
    #ffb2ff
  );
}
.mat-card-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}

mat-icon {
  margin-right: 5px;
}

// used for dark theme
// background-color: #444444 !important;
