.testimonial-section {
  padding: 1% 10%;
}
@media only screen and (max-width: 600px) {
  .testimonial-section {
    padding: 1% 5%;
  }
}
.timKing-img {
  background-image: url('https://media-exp1.licdn.com/dms/image/C4D03AQFL3pM_d1LwPw/profile-displayphoto-shrink_400_400/0?e=1602115200&v=beta&t=gO1mNe0OH-D4WvjZSFsC7K2odOdJeLwspj027NXF1Ek');
  background-size: cover;
}
.justin-img {
  background-image: url('https://media-exp1.licdn.com/dms/image/C5603AQEjUj94UWR07g/profile-displayphoto-shrink_400_400/0?e=1602115200&v=beta&t=ytYb8ad6B45tmy5Im1i_Fh0V6aEJDlnHcm30C-OgBGI');
  background-size: cover;
}

.jyothi-img {
  background-image: url('https://media-exp1.licdn.com/dms/image/C4E03AQGeg7xc94G5Lg/profile-displayphoto-shrink_400_400/0?e=1602115200&v=beta&t=utf4iFKcUtjoCqNH30VyPbuqcjpvkHuVjTXjEO7-dzA');
  background-size: cover;
}
.yasaswy-img {
  background-image: url('https://media-exp1.licdn.com/dms/image/C5103AQGcCrKRjLWQQg/profile-displayphoto-shrink_400_400/0?e=1602115200&v=beta&t=IMoXkKMjg02eAk5SP75lPj_bfhOx6QBi2AEPph-EL70');
  background-size: cover;
}
.kristen-img {
  background-image: url('https://media-exp1.licdn.com/dms/image/C4E03AQE9GsQJK30m5w/profile-displayphoto-shrink_400_400/0?e=1602115200&v=beta&t=U7qVwUZYWZ64gOvj5qqlNmiZUMM2U7tlUxH8dPwD_xM');
  background-size: cover;
}
// .border:hover{
//   border: 3px solid #ea793a !important;
// }

.mat-card-1 {
  background: inherit;
  box-shadow: none !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0px;

  // margin-top: 1rem;
}
.testimonial-mat-card-main {
  display: grid;
  box-shadow: none;
  background: inherit;
}
.testimonial-title {
  font-family: cursive;
  line-height: normal;
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0px;
}

.p-text {
  line-height: 1.5rem;
  padding: 1rem;
  font-size: 1rem;
  // background: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  // box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
  // 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
  font-family: 'Times New Roman', Times, serif;
}
.viewMoreButton {
  padding: 0.5rem;
  border-radius: 3px;
  font-size: 1rem;
  transition: background 0.5s ease;
}

.arrow1 {
  margin-left: 10px;
  color: #673ab7;
  font-size: 30px;
  animation: slide1 1s ease-in-out infinite;
  margin-left: 9px;
}
@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}
.mat-card-border {
  border: 1px solid lightgrey;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 2%;
  box-shadow: none !important;
  // border-radius: 0px;
  padding: 0;
  // border-left: 3px solid orange;
}
.p-note {
  color: coral;
  font-size: 0.6rem;
  text-align: center;
  margin: 0px;
  font-family: 'Times New Roman', Times, serif;
}

.mat-card-header .mat-card-title {
  font-size: 1rem !important;
  font-style: normal;
  font-family: 'Times New Roman', Times, serif;
}
mat-card-subtitle {
  font-family: 'Times New Roman', Times, serif;
}
mat-card-header {
  padding-left: 1rem !important;
}

@mixin rings($duration, $delay) {
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  // top: -8px;
  // left: -8px;
  right: 0;
  bottom: 0;
  content: '';
  height: 100%;
  width: 100%;
  border: 4px solid rgba(250, 174, 9, 0.3);
  border-radius: 100%;
  animation-name: ripple;
  animation-duration: $duration;
  animation-delay: $delay;
  // animation-iteration-count: infinite;
  // animation-timing-function: cubic-bezier(.65,1,.54,1.1);
  z-index: 100;
}

.request-loader:hover {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  box-shadow: 0 0 20px 0 rgba(241, 199, 136, 0.25);
  cursor: pointer;

  &::after {
    @include rings(3s, 0s);
  }

  &::before {
    @include rings(3s, 0.5s);
  }
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale3d(1.15, 1.15, 0);
  }

  to {
    opacity: 0;
    transform: scale3d(1.5, 1.5, 1);
  }
}
