<section class="testimonial-section">
  <div>
    <h1 class="testimonial-title">Testimonials</h1>
    <p class="p-note">{{ note }}</p>
  </div>
  <ng-container *ngFor="let item of testimonials">
    <mat-card class="mat-card-border">
      <mat-card class="mat-card-1" id="{{ item.id }}">
        <mat-card-content class="mat-card-content-style">
          <p class="p-text">
            <i class="fa fa-quote-left" aria-hidden="true"></i>
            {{ item.content }}
          </p>
        </mat-card-content>
        <mat-card-header>
          <div mat-card-avatar class="{{ item.class }}"></div>
          <mat-card-title>{{ item.name }}</mat-card-title>
          <mat-card-subtitle>{{ item.role }}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </mat-card>
  </ng-container>

  <div class="viewMoreButtonDiv">
    <button
      mat-button
      class="viewMoreButton"
      color="primary"
      (click)="toggleViewMore()"
    >
      {{ testimonyToggleText }}

      <i class="material-icons">
        {{ testimonyToggleIcon }}
      </i>
    </button>
  </div>
  <ng-container *ngIf="isCollapsed == true">
    <ng-container *ngFor="let item of testimonialsViewMore">
      <mat-card class="mat-card-border">
        <mat-card class="mat-card-1" id="{{ item.id }}">
          <mat-card-content class="mat-card-content-style">
            <p class="p-text">
              <i class="fa fa-quote-left" aria-hidden="true"></i>
              {{ item.content }}
            </p>
          </mat-card-content>
          <mat-card-header>
            <div mat-card-avatar class="{{ item.class }}"></div>
            <mat-card-title>{{ item.name }}</mat-card-title>
            <mat-card-subtitle>{{ item.role }}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-card>
    </ng-container>
  </ng-container>
</section>
