<section>
    <mat-toolbar class = "color-blue top-header-bacground-image">
        <img src="assets/image-avatar.jpeg">
        <span >Chandrasekhar Reddy, Muthyala</span>
        <span class="flex-spacer"></span>
        
            <!-- <mat-slide-toggle >Dark theme</mat-slide-toggle> -->
      </mat-toolbar>
<div>
    <mat-tab-group class="fixed-header color-blue">
        <mat-tab class="color-blue" label="Home"> 

        </mat-tab>
        <mat-tab label="About">
            <cmuthyala-about></cmuthyala-about>
        </mat-tab>
        <mat-tab label="Education">
            <cmuthyala-education></cmuthyala-education>
        </mat-tab>
        <mat-tab label="Experience">
            <cmuthyala-experience></cmuthyala-experience>
        </mat-tab>
        <mat-tab label="Projects">
            <cmuthyala-projects></cmuthyala-projects>
        </mat-tab>
        <mat-tab label="Certifications">
            <cmuthyala-certifications></cmuthyala-certifications>
        </mat-tab>
        <mat-tab label="Testimonies">
            <cmuthyala-testimonies></cmuthyala-testimonies>
        </mat-tab>
    </mat-tab-group>
</div>
</section>
