.top-header-bacground-image{
    background-image: linear-gradient(to left, #dff7bd, #40f2ec, #add2ed, #ffb2ff);
    
    
}
// .mat-tab-header{
//   padding-top: 20px !important;
// }
.mat-card-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}


mat-icon{
  margin-right: 5px;
}

  